$color-main: #495584;
$color-sub: #fd625e;

/*------------ WHITE COLOR ------------*/
$color-white: #fff;
$color-white-1: #ebebeb;
$color-white-2: #f6fbff;
$color-white-3: #f0f8ff;

/*------------ BACKGROUND COLOR ------------*/
$color-bg: #f7f8f9;

/*------------ BORDER COLOR ------------*/
$color-border: #eaedf1;
$color-border-1: rgb(105, 9, 9);

/*------------ BLACK COLOR ------------*/
$color-black: #000;

/*------------ GRAY COLOR ------------*/
$color-gray: #eee;
$color-gray-1: #6d6d6d;
$color-gray-2: #dce1e1;
$color-gray-3: #7e8080;

/*------------ BLUE COLOR ------------*/
$color-blue: #29c0d5;
$color-blue-1: #555b6d;
$color-blue-2: #374957;
$color-blue-3: #2b3a4a;
$color-blue-4: #8a98ac;
$color-blue-5: #33526f;
$color-blue-6: #1897c0;
$color-blue-7: #052647;
$color-blue-8: #25799a;

/*------------ GREEN COLOR ------------*/
$color-green: #008000;
$color-green-1: #15a915;

/*------------ YELLOW COLOR ------------*/
$color-yellow: #ffca00;
$color-yellow-1: #ffca02;
$color-yellow-2: #f49d1a;

/*------------ RED COLOR ------------*/
$color-red: #ff0000;
$color-red-1: #ff2424;
$color-red-2: #cd0404;

$color-text-purple: #5550a5;
$color-bg-card: #f6f7f8;
$color-shadow: #333;
$color-text-gray: #48504b;
$color-bg-white: #f8f6f7;
$color-purple: #a64bf4;
$color-blue-bold: #27279b;
$color-blue-light: #247f99;